@model IEnumerable<helloworld.Models.NGUOIDUNG>

@{
    ViewBag.Title = "dsnguoidung";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}

<h2>dsnguoidung</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taikhoan)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhaplaimk)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taikhoan)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Matkhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhaplaimk)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaysinh)
        </td>
        <td>
           
            @Html.ActionLink("Delete", "Deletend", new { id=item.Mand })
            @*<a href="@Url.Action("Deletend","admin",new { id = item.Mand })">
                <span>Delete</span>
            </a>*@
        </td>
    </tr>
}

</table>
